[mysqld]
log_error   =  /var/log/mysql/mysql_error.log
general_log_file    =   /var/log/mysql/general_log_file.log
general_log =   1
slow_query_log_file = /var/log/mysql/slow_query_log.log
long_query_time = 1
