/*
*  PlumTree Administration Panel Styles
*  version: 0.1
*/

.sticky-menu #adminmenuwrap {
    z-index: 101 !important;
}

/* ----- Tabs styling ----- */
.ptpanel {
	padding: 20px 20px 20px 0;
	font-family: 'Open Sans' , sans-serif;
	color: #8b8b8b;
}
.ptpanel-head.wrap {
	position: relative;	
	margin: 0;
}
.ptpanel-head .icon32 {
	display: inline-block;
    height: 34px;
    margin: 0 8px 0 0;
    width: 36px;
    background: url("../img/ptpanel32.png") center center no-repeat;
    vertical-align: top;
}
.ptpanel .ptpanel-head h2 {
	font-size: 22px;
	display: inline-block;
	margin: 2px 0 0 0;
}
.ptpanel form {
	padding: 20px 0 0 0;
	margin: 0;
}
.ptpanel .nav-tabs {
	background: #f9f9f9;
	border-bottom: #e8e8e8 2px solid !important;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	margin: 0;
}
.ptpanel .nav-tabs li {
	margin: 0 0 -3px 0;
}
.ptpanel .nav-tabs li a,
.ptpanel .nav-tabs li.active a {
	border: none;
	border-radius: 0;
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: #afafaf;
	padding: 3px 30px 0 30px !important;
	margin: 0 !important;
	outline: none;
	border-right: 1px solid #e8e8e8;
}
.ptpanel .nav-tabs li a:hover {
	background-color: rgba(15,111,161,0.1); 
}
.ptpanel .nav-tabs li.active {
	border-top:#107ab1 3px solid;
}
.ptpanel .nav-tabs li.active a {
	color: #0f6fa1;
}
.ptpanel .nav-tabs li.active a, 
.ptpanel .nav-tabs li.active a:focus, 
.ptpanel .nav-tabs li.active a:hover {
	background: #fff;
}
.ptpanel span.icon{
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin-right: 5px;
	background: url("../img/adminsprite.png") 0 0 no-repeat;
}
.ptpanel p {
	font-size: 14px;
	line-height: 21px;
	padding: 0;
	margin: 0 0 10px 0;
	color: #8b8b8b;
}
.ptpanel h1 {
    color: #5F6A6D;
    font-size: 18px;
    line-height: 29px;
    margin: 20px 20px 20px 0;
	border:1px solid #E8E8E8;
    padding: 15px;
    text-transform: uppercase;
	background:#F9F9F9;
}
.ptpanel h2 {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 29px;
	color: #3c4a55;
	padding: 0;
	margin: 15px 0 15px 0;
	padding-left: 12px;
	font-weight:bold;
}
.ptpanel .control-group {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 2px solid transparent;
}
.ptpanel .form_holder {
    display: inline-block;
    max-width: 300px;
    position: relative;
    width: 100%;
}
.ptpanel .tab-content {
    border-bottom: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    overflow: auto;
    padding: 20px;
    background: #fff;
}
.ptpanel .container-fluid {
    padding: 0px;
}
.ptpanel .span6 {
    //padding: 15px;
}
.ptpanel .control-label {
    color: #0F6FA1;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}
.ptpanel .controls {
	font-size: 14px;
	line-height: 21px;
	color: #05242b;
	position: relative;
}
.ptpanel p.submit {
	margin: 0;
}
.ptpanel .btn-primary {
    border-radius: 0;
    border-width: 0;
    color: #fff;
    height: 42px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor: pointer;
    margin-top: 25px;
    background: #0d64a2;
    font-family: inherit;
}
.ptpanel .btn-primary:hover,
.ptpanel .btn-primary:focus {
    background: #0a4d74;
}
.ptpanel .btn-primary:active {
	padding: 0 10px;
	opacity: 0.9;
}
.ptpanel p.desc-block {
	padding: 5px 0 0 0;
	margin: 0;
	color: #8b8b8b;
}

/* ----- Inputs Styling ----- */

/* Global Styles */
.ptpanel .button {
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}
.ptpanel input[type="text"],
.ptpanel input[type="email"],
.ptpanel input[type="number"],
#customize-theme-controls input[type="text"],
#customize-theme-controls input[type="number"],
#customize-theme-controls input[type="email"],
.ptpanel select,
#customize-theme-controls select {
	font-size: 14px;
	color: inherit;
	line-height: 40px;
	height: 40px;
	max-width: 300px;
	width: 100%;
	border-radius: 0px;
	margin: 0;
	background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    box-shadow: none;
    padding: 0 5px;
    font-family: inherit;
}
.ptpanel textarea,
#customize-theme-controls textarea {
	font-size: 14px;
	color: inherit;
	max-width: 300px;
	width: 100%;
	border-radius: 0px;
	margin: 0;
	background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    box-shadow: none;
    padding: 0 5px;
    min-height: 65px;
    color: inherit;
    font-family: inherit;
}
#site_copyright_id,
#top_panel_info_id {
	height: 100px;
}
.ptpanel .tab-content .control-group textarea {
	margin-bottom: 5px;
}
.ptpanel input[type="number"] {
	max-width: 100px;
}
.ptpanel input[type="text"],
.ptpanel input[type="number"],
.ptpanel input[type="email"] {
	margin: 0;
}
#customize-theme-controls input[type="text"],
#customize-theme-controls input[type="number"],
#customize-theme-controls input[type="email"],
#customize-theme-controls select,
#customize-theme-controls textarea {
	margin-bottom: 5px;
}

/*ColorPicker */
.ptpanel .picker-container {
	position: absolute;
	display: none;
	background-color: transparent;
	z-index: 100;
	width: 215px;
	height: 215px;
}
.ptpanel input[type="text"].picker_field {
	padding-right: 45px !important;
}
.ptpanel .close_picker {
	width: 18px;
	height: 18px;
	background: url("../img/close_picker.png") center center no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.ptpanel .button.color-picker {
    border-bottom: 2px solid #e8e8e8 !important;
    height: 38px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px;
}
.ptpanel .button.color-picker {
    background: url("../img/colorpicker.png") no-repeat center center #f4f4f4;
}
.ptpanel .button.color-picker:hover,
.ptpanel .button.color-picker:focus,
.ptpanel .button.color-picker:active {
	background: url("../img/colorpicker_h.png") no-repeat center center #e6e6e6;
	border-bottom: 2px solid #d9d9d9 !important;
	outline: none;
	box-shadow: none;
}

/* Selects */
.ptpanel .jq-selectbox.fade,
.ptpanel .jq-selectbox li.fade {
	opacity: 1;
}
.ptpanel .jq-selectbox,
#customize-theme-controls .jq-selectbox {
    padding: 0 45px 0 5px;
    max-width: 248px;
	width: 100%;
	border: 1px solid #ebebeb;
    box-shadow: none;
}
#customize-theme-controls .jq-selectbox {
	width: 80% !important;
}
#customize-theme-controls .jq-selectbox__dropdown {
	overflow: auto !important;
}
.ptpanel .jq-selectbox__select,
#customize-theme-controls .jq-selectbox__select {
    height: 38px;
    line-height: 38px;
	width: 100%;
	position: relative;
	padding: 0;
	border: 0 none;
}
.ptpanel .jq-selectbox__trigger,
#customize-theme-controls .jq-selectbox__trigger {
	position: absolute;
	top: 0px;
	right: -45px;
	width: 40px;
	height: 38px;
	height: 100%;
	padding: 0;
	background-image: url("../img/select.png");
	background-repeat: no-repeat;
	background-position: -2px -4px;
}
.ptpanel .jq-selectbox__select-text,
#customize-theme-controls .jq-selectbox__select-text {
    color: inherit;
}
.ptpanel .jq-selectbox__trigger-arrow,
#customize-theme-controls .jq-selectbox__trigger-arrow {
	display: none;
}
.ptpanel .jq-selectbox__select:hover .jq-selectbox__trigger,
#customize-theme-controls .jq-selectbox__select:hover .jq-selectbox__trigger {
	background-position: -2px -50px;
}
.ptpanel .jq-selectbox__select:active .jq-selectbox__trigger,
.ptpanel .jq-selectbox.opened .jq-selectbox__trigger,
#customize-theme-controls .jq-selectbox__select:active .jq-selectbox__trigger,
#customize-theme-controls .jq-selectbox.opened .jq-selectbox__trigger {
	background-position: -2px -96px;
}
.ptpanel .jq-selectbox__dropdown,
#customize-theme-controls .jq-selectbox__dropdown {
	top: 42px;
	left: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #ebebeb;
	background: #FFF;
	z-index: 1000000;
	box-shadow: none;
}
.ptpanel .jq-selectbox li,
#customize-theme-controls .jq-selectbox li {
	padding: 5px;
	margin: 0;
	color: inherit;
}
.ptpanel .jq-selectbox li.selected,
#customize-theme-controls .jq-selectbox li.selected {
	background-color: #f4f4f4;
}
.ptpanel .jq-selectbox li:hover,
#customize-theme-controls .jq-selectbox li:hover {
	background-color: #0f6fa1;
	color: #FFF;
}

/* Uploads */
.ptpanel .tab-content .control-group input.upload_media {
    max-width: 300px;
    padding-right: 80px;
}
.ptpanel .button {
    background: #f4f4f4;
    border-radius: 0;
    border-width: 0;
    color: #919191;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 10px;
    border-bottom: 2px solid #e8e8e8 !important;
}
.ptpanel .button:hover,
.ptpanel .button:focus {
    background: #0d64a2;
    color: #FFFFFF;
    border-bottom: 2px solid #0a4b7a !important;
}
.ptpanel .button:active {
    background: #0a4d74;
	color: #FFFFFF;
	border-bottom: 2px solid #0a4b7a !important;
	text-shadow: none;
	padding: 0 10px;
}

/* On/Off */
.ptpanel .onoff {
	width: 90px;
	height: 34px;
	box-shadow: inset 1px 1px #e7e7e7, inset -1px -1px #e7e7e7, inset -1px -1px #e7e7e7, inset 1px 1px #e7e7e7;
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
}
.ptpanel .onoff {
	background: #007cb9; /* Old browsers */
	background: -moz-linear-gradient(top,  #007cb9 0%, #0062a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007cb9), color-stop(100%,#0062a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007cb9 0%,#0062a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007cb9 0%,#0062a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007cb9 0%,#0062a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #007cb9 0%,#0062a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007cb9', endColorstr='#0062a7',GradientType=0 ); /* IE6-9 */
}
.ptpanel .onoff .icon-toggler {
	width: 127px;
	height: 26px;
	background: url("../img/onoff.png") center center no-repeat;
	position: absolute;
	top: 5px;
	left:0;
	cursor: pointer;
}
.ptpanel .onoff.on .icon-toggler {
	left:-37px;
}
.ptpanel .onoff.off .icon-toggler {
	left:0;
}

/* Radio */
.ptpanel .jq-radio {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
    width: 25px;
    background-image: url("../img/radio.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 5px;
}
.ptpanel .jq-radio:hover,
.ptpanel .jq-radio:focus {
    background-position: -29px 0;
}
.ptpanel .jq-radio.checked {
    background-position: -58px 0;
}
.ptpanel .jq-radio.checked div {
	display: none;
}
.ptpanel .radio_value {
	margin-right: 20px;
}
.ptpanel .radio_wrapper {
	display: inline-block;
}

/* Checkbox */
.ptpanel .jq-checkbox {
	width: 25px;
	height: 25px;
	border: 0 none;
	border-radius: 0;
	background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 5px;
    vertical-align: top;
}
.ptpanel .jq-checkbox:hover,
.ptpanel .jq-checkbox:focus {
    background-position: -29px 0;
}
.ptpanel .jq-checkbox.checked {
    background-position: -58px 0;
}
.ptpanel .jq-checkbox div {
	display: none;
}
.ptpanel .checkbox_value {
	height: 25px;
	line-height: 25px;
	display: inline-block;
}

/* Collection */
.ptpanel .collection_field + .jq-radio,
#customize-theme-controls .collection_field + .jq-radio {
	position: relative;
	width: 35px;
	height: 35px;
	background-image: none;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;
	border: 2px solid #e8e8e8;
	z-index: 2;
}
.ptpanel .collection,
#customize-theme-controls .collection {
	margin: 0 30px 5px 0;
	position:relative; 
	display:inline-block;
}
.blog_spacer_default_pattern .collection_field + .jq-radio,
.store_spacer_default_pattern .collection_field + .jq-radio {
	width: 200px;
	overflow: hidden;
}
.blog_spacer_default_pattern .pattern_img,
.store_spacer_default_pattern .pattern_img {
    width: 100% !important;
}
.ptpanel .collection_field + .jq-radio.checked,
.ptpanel .collection_field + .jq-radio.checked:hover,
.ptpanel .collection_field + .jq-radio.checked:focus,
.ptpanel .collection_field + .jq-radio.checked:active,
.ptpanel .collection_field + .jq-radio:hover,
.ptpanel .collection_field + .jq-radio:focus,
.ptpanel .collection_field + .jq-radio:active,
#customize-theme-controls .collection_field + .jq-radio.checked,
#customize-theme-controls .collection_field + .jq-radio.checked:hover,
#customize-theme-controls .collection_field + .jq-radio.checked:focus,
#customize-theme-controls .collection_field + .jq-radio.checked:active,
#customize-theme-controls .collection_field + .jq-radio:hover,
#customize-theme-controls .collection_field + .jq-radio:focus,
#customize-theme-controls .collection_field + .jq-radio:active  {
	border: 2px solid #0f73ad;
}
.ptpanel .pattern_img,
#customize-theme-controls .pattern_img {
	display: inline-block;
	position: absolute;
	line-height: 0;
    left: 0px;
    z-index: 1;
    width: 37px;
	height: 37px;
}
.ptpanel .pattern_img img,
#customize-theme-controls .pattern_img img {
	width: 100%;
	height: 100%;
}

/* Warnings */
.ptpanel p.help-block {
	display: inline-block;
	text-align: center;
    margin: 0;
    line-height: 15px;
    padding: 11px 0 0 20px;
    position: relative;
    float: right;
}
.ptpanel p.help-block>ul {
	background-image: url("../img/errorsprite.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 5px 0 25px;
    list-style: none;
}
.ptpanel p.help-block>ul>li {
	margin: 0;
	padding: 0;
}
.ptpanel .tab-content div.warning {
	background-color: rgba(0, 0, 0, 0.01);
    border-radius: 0;
    border-left: 2px solid #f3a904;
    color: #eeb128;
    display: block;
}
.ptpanel .tab-content div.warning p.help-block>ul {
	background-position: 5px -24px;
}
.ptpanel .tab-content div.error {
	background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    border-left: 2px solid #d42f0e;
    color: #B93319;
    display: block;
}
.ptpanel .tab-content div.error p.help-block>ul {
	background-position: 5px -47px;
}
.ptpanel .updated {
	background-position: 15px 8px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 0 5px 5px;
    margin: 5px 0 0 0 !important;
    position: relative;
}
.ptpanel .updated.woocommerce-message {
	background-image: none;
}
div.updated p {
    margin: 0;
    padding: 0;
}
