
/*** List  ***/
.ig-list-icons {
	margin: 0;
	padding: 0;
}
.ig-list-icons li {
	clear: both;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	min-height: 60px;
	overflow: hidden;
	position: relative;
	padding-bottom: 30px;
}
.ig-list-icons .ig-icon-base i { position: relative; }
.ig-list-icons [class^="icon-"],
.ig-list-icons [class*=" icon-"] {
    height: auto;
    line-height: 100%;
    margin-top: 0;
    vertical-align: middle;
    width: auto;
}
.ig-list-icons.ig-icon-16 .ig-icon-base i[class*="icon-"] { font-size: 14px; }
.ig-list-icons.ig-icon-24 .ig-icon-base i[class*="icon-"] { font-size: 22px; }
.ig-list-icons.ig-icon-32 .ig-icon-base i[class*="icon-"] { font-size: 30px; }
.ig-list-icons.ig-icon-48 .ig-icon-base i[class*="icon-"] { font-size: 46px; }
.ig-list-icons.ig-icon-64 .ig-icon-base i[class*="icon-"] { font-size: 62px; }
.ig-list-icons .ig-icon-base {
	position: relative;
	z-index: 9;
	text-align: center;
}
.ig-list-icons.ig-shape-circle .ig-icon-base {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: 2px solid rgba(255,255,255,0.4);
}
.ig-list-icons.ig-shape-square .ig-icon-base {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.ig-list-icons.ig-position-left .ig-icon-base {
	float: left;
	margin-right: 15px;
}
.ig-list-icons.ig-position-right {
	text-align: right;
}
.ig-list-icons.ig-position-right .ig-icon-base {
	float: right;
	margin-left: 15px;
}
.ig-list-content-wrap {
	overflow: hidden;
}
.ig-list-icons.ig-shape-circle.ig-icon-16 .ig-icon-base,
.ig-list-icons.ig-shape-square.ig-icon-16 .ig-icon-base {
	width: 45px;
	height: 45px;
	line-height: 37px;
}
.ig-list-icons.ig-shape-circle.ig-icon-24 .ig-icon-base,
.ig-list-icons.ig-shape-square.ig-icon-24 .ig-icon-base {
	width: 55px;
	height: 55px;
	line-height: 50px;
}
.ig-list-icons.ig-icon-32 .ig-icon-base {
	width: 67px;
	height: 67px;
	line-height: 60px;
}
.ig-list-icons.ig-icon-48 .ig-icon-base {
	width: 85px;
	height: 85px;
	line-height: 81px;
}
.ig-list-icons.ig-icon-64 .ig-icon-base {
	width: 100px;
	height: 100px;
	line-height: 98px;
}
.ig-list-icons.ig-shape-square.ig-icon-16 .ig-icon-base { line-height: 42px; }
.ig-list-icons.ig-shape-square.ig-icon-24 .ig-icon-base { line-height: 54px; }

/*------------------------------------------------------------*/

/* Progress Bar */
.jsn-bootstrap3 .progress-info > span {
	margin-bottom: 5px;
	display: inline-block;
}
.jsn-bootstrap3 .progress-info .progress-percentage {
	margin-left: 10px;
}
/*------------------------------------------------------------*/
/*-----Accordion-----*/
.jsn-bootstrap3 .panel-heading {
    padding: 0;
}
.jsn-bootstrap3 .panel-title a {
    padding: 10px 15px;
	display: inline-block;
	width: 100%;
	height: 100%;
    text-decoration: none !important;
}
.jsn-bootstrap3 .panel-title a:hover {
	background: #F9F9F9;
}
/*------------------------------------------------------------*/

/*** Tabs ***/
[id*="tab_"] {
	padding: 10px 0;
}
.jsn-bootstrap3 a,
.jsn-bootstrap3 a:active,
.jsn-bootstrap3 a:focus {
outline: none;
}
.tabbable .tab-content {
	overflow: auto;
	background: #FFF;
	border: 1px solid #DDD;
	border-top: none;
	padding: 12px 20px 25px 20px;
}
.jsn-bootstrap3 .tabs-below .tab-content {
	margin-bottom: 0;
	border-bottom: none;
}
.jsn-bootstrap3 .nav-tabs {
	margin: 0px;
}
.jsn-bootstrap3 .tabs-below .nav-tabs li {
	margin: -1px 0 0;
}
.jsn-bootstrap3 .nav-tabs li i {
	margin: 2px 5px 0 0;
}
.jsn-bootstrap3 .tabs-below .tab-content,
.jsn-bootstrap3 .tabs-left .tab-content,
.jsn-bootstrap3 .tabs-right .tab-content {
	border-top: 1px solid #DDD;
}
.jsn-bootstrap3 .tabs-left .nav-tabs {
	border-right: none;
	margin-right: -3px;
}
.jsn-bootstrap3 .tabs-right .nav-tabs {
	border-left: none;
	margin-left: -1px;
}
.jsn-bootstrap3 .tabs-left .nav-tabs li,
.jsn-bootstrap3 .tabs-right .nav-tabs li {
	margin: 0;
}
.jsn-bootstrap3 .tabs-below .nav-tabs {
	border-bottom: none;
	border-top: 1px solid #DDD;
}
.jsn-bootstrap3 .tabs-below .nav-tabs li.active a {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	   		border-radius: 0 0 4px 4px;
}
.jsn-bootstrap3 .tabs-left > .nav-tabs > li,
.jsn-bootstrap3 .tabs-right > .nav-tabs > li {
	float: none;
}
.jsn-bootstrap3 .tabs-left > .nav-tabs {
	float: left;
}
.jsn-bootstrap3 .tabs-left .nav-tabs,
.jsn-bootstrap3 .tabs-right .nav-tabs,
.jsn-bootstrap3 .tabs-left .nav-tabs li a {
	border: none;
}
.jsn-bootstrap3 .tabs-left .nav-tabs li.active a {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	   		border-radius: 4px 0 0 4px;
}
.jsn-bootstrap3 .tabs-right > .nav-tabs {
	float: right;
}
.jsn-bootstrap3 .tabs-right .nav-tabs li.active a {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	   		border-radius: 0 4px 4px 0;
}