
/*** Tabs ***/
[id*="tab_"] {
	padding: 10px 0;
}
.jsn-bootstrap3 a,
.jsn-bootstrap3 a:active,
.jsn-bootstrap3 a:focus {
outline: none;
}
.tabbable .tab-content {
	overflow: auto;
	background: #FFF;
	border: 1px solid #DDD;
	border-top: none;
	padding: 12px 20px 25px 20px;
}
.jsn-bootstrap3 .tabs-below .tab-content {
	margin-bottom: 0;
	border-bottom: none;
}
.jsn-bootstrap3 .nav-tabs {
	margin: 0px;
}
.jsn-bootstrap3 .tabs-below .nav-tabs li {
	margin: -1px 0 0;
}
.jsn-bootstrap3 .nav-tabs li i {
	margin: 2px 5px 0 0;
}
.jsn-bootstrap3 .tabs-below .tab-content,
.jsn-bootstrap3 .tabs-left .tab-content,
.jsn-bootstrap3 .tabs-right .tab-content {
	border-top: 1px solid #DDD;
}
.jsn-bootstrap3 .tabs-left .nav-tabs {
	border-right: none;
	margin-right: -3px;
}
.jsn-bootstrap3 .tabs-right .nav-tabs {
	border-left: none;
	margin-left: -1px;
}
.jsn-bootstrap3 .tabs-left .nav-tabs li,
.jsn-bootstrap3 .tabs-right .nav-tabs li {
	margin: 0;
}
.jsn-bootstrap3 .tabs-below .nav-tabs {
	border-bottom: none;
	border-top: 1px solid #DDD;
}
.jsn-bootstrap3 .tabs-below .nav-tabs li.active a {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	   		border-radius: 0 0 4px 4px;
}
.jsn-bootstrap3 .tabs-left > .nav-tabs > li,
.jsn-bootstrap3 .tabs-right > .nav-tabs > li {
	float: none;
}
.jsn-bootstrap3 .tabs-left > .nav-tabs {
	float: left;
}
.jsn-bootstrap3 .tabs-left .nav-tabs,
.jsn-bootstrap3 .tabs-right .nav-tabs,
.jsn-bootstrap3 .tabs-left .nav-tabs li a {
	border: none;
}
.jsn-bootstrap3 .tabs-left .nav-tabs li.active a {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	   		border-radius: 4px 0 0 4px;
}
.jsn-bootstrap3 .tabs-right > .nav-tabs {
	float: right;
}
.jsn-bootstrap3 .tabs-right .nav-tabs li.active a {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #DDD;
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	   		border-radius: 0 4px 4px 0;
}
/*------------------------------------------------------------*/

/*** Promo Box ***/
.jsn-bootstrap3 .promo-box-shadow:before, .promo-box-shadow:after {
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
    content: "";
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    position: absolute;
    transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
    width: 50%;
    z-index: -1;
}
.jsn-bootstrap3 .promo-box-shadow:after {
    left: auto;
    right: 10px;
    transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}
.jsn-bootstrap3 .ig-promobox {
	position: relative;
	z-index: 1;
}
.jsn-bootstrap3 .ig-promobox h2 {
	clear: none;
}
.jsn-bootstrap3 .ig-promobox section{
	padding: 28px 28px 27px 31px;
	margin: 0 0 28px;
	position: relative;
}
/*------------------------------------------------------------*/
/*-----Accordion-----*/
.jsn-bootstrap3 .panel-heading {
    padding: 0;
}
.jsn-bootstrap3 .panel-title a {
    padding: 10px 15px;
	display: inline-block;
	width: 100%;
	height: 100%;
    text-decoration: none !important;
}
.jsn-bootstrap3 .panel-title a:hover {
	background: #F9F9F9;
}
/*------------------------------------------------------------*/

/* Progress Bar */
.jsn-bootstrap3 .progress-info > span {
	margin-bottom: 5px;
	display: inline-block;
}
.jsn-bootstrap3 .progress-info .progress-percentage {
	margin-left: 10px;
}